<div class="hero">

  <br />

  <div class="frosty col-6 offset-3 text-center">
    <br />
      <h1>Hello and Welcome</h1>
    <br />
      <h2>Yuh</h2>
    <br />
      <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col sm">
    <h3>Courses</h3>
    <br />
    <p>Choose a Course</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn</h3>
    <br />
    <p>Enroll</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Community</h3>
    <br />
    <p>Join</p>
  </div>
</div>